.profilePage{
    width: 1440px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profileLeft div{
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 35px;
}
.profileLeft div p{
    font-size: 20px;
}