.footer {
    max-width: 1440px;
    width: calc(100% - 40px); /* Учитываем отступы */
    margin: 40px auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-top: 1px solid #ddd;
    padding: 30px 20px;
}

.footer p {
    font-size: 16px;
    color: #444;
    margin: 0;
    font-weight: 500;
}

/* --- АДАПТИВНОСТЬ ФУТЕРА --- */

@media (max-width: 800px) {
    .footer {
        gap: 20px;
    }
    .footer p { font-size: 14px; }
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column; /* Элементы друг под другом */
        gap: 10px;
        text-align: center;
        padding: 20px;
    }
    
    .footer p:not(:last-child) {
        border-bottom: 1px solid #f0f0f0;
        padding-bottom: 8px;
        width: 100%;
    }
}